/* Contenedor principal */
.container-populars3 {
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: column; /* Disposición en columna */
    align-items: center; /* Centrado horizontal */
    overflow-x: hidden;
}

/* Títulos y subtítulos */
.home-populars-texts3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.home-populars-title3 {
    font-size: 24px; /* Tamaño reducido */
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
}

.home-populars-subtitle3 {
    font-size: 14px; /* Tamaño reducido */
    color: black;
    max-width: 500px; /* Ancho reducido */
    font-weight: 300;
    line-height: 1.4; /* Mejor legibilidad */
    text-align: center;
}

/* Listado de recetas */
.recipe-list3 {
    display: flex;
    flex-direction: column; /* Disposición en columna */
    gap: 20px; /* Espaciado entre tarjetas */
    justify-content: center;
    align-items: center;
}

/* Tarjetas de receta */
.recipe-card3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 228px; /* Ancho fijo */
    height: 310px; /* Altura fija */
    border-radius: 5px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    background-color: #fff;
    padding: 15px;
}

/* Imagen de la receta */
.recipe-image3 {
    position: relative;
    height: 185px;
    overflow: hidden;
    border-radius: 5px;
}

.recipe-image3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Información de la receta */
.recipe-info3 {
    text-align: left;
}

/* Metadatos */
.carousel-meta3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px; /* Tamaño reducido */
    color: #a8a8a8;
}

.carousel-meta3 span {
    display: flex;
    align-items: center;
    color: #a8a8a8;
}

.carousel-meta3 i {
    margin: 5px;
    font-size: 16px; /* Tamaño reducido */
}

/* Botones */
.save-btn3 {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.save-btn3 i {
    font-size: 20px;
    color: #a8a8a8;
}

.save-btn3.saved3 i {
    color: #ff5722;
}

.details-button3 {
    background-color: #f5c855;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.details-button3:hover {
    background-color: #e3b645;
}

/* Estilos para el mensaje de login */
.login-message3 {
    position: fixed;
    bottom: -100px; /* Comienza fuera de la vista, en la parte inferior */
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la página */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 0; /* Eliminamos las esquinas redondeadas */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0; /* Inicialmente invisible */
    animation: slideUp 0.5s ease-out forwards; /* Añadimos la animación */
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5); /* Sombra para darle más estilo */
}

/* Definir la animación */
@keyframes slideUp {
    0% {
        bottom: -100px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

.button-container3 {
    display: flex; /* Coloca los botones uno al lado del otro */
    gap: 10px; /* Espaciado entre botones */
    margin-top: 10px;
}

/* Botón de inicio de sesión */
.login-message3 .login-button3 {
    padding: 8px 35px;
    background-color: #FCCA36;
    color: black;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 12px;
}

.login-message3 .login-button3:hover {
    background-color: #e3b645;
    font-weight: 500;
}

/* Botón de cerrar */
.login-message3 .close-button3 {
    padding: 8px 35px;
    background-color: none;
    border-color: #ccc;
    color: black;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
}

.login-message3 .close-button3:hover {
    background-color: #ccc;
}

