.cart-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-list {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 2px solid #ddd;
}

.recipe-header {
    display: flex;
    gap: 15px;
    width: 100%;
}

.recipe-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.recipe-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recipe-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.recipe-details h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.recipe-details h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
}

.servings-control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.servings-control span {
    font-size: 14px; /* Título de servings más pequeño */
    font-weight: 600;
}

.servings-control button {
    font-size: 18px; /* Texto más pequeño en los botones */
    padding: 5px 10px;
    background-color: #ccc;
    border: 2px solid #ccc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.servings-control button:hover {
    background-color: #c4c3c3;
    border: 2px solid #c4c3c3;
    color: white;
}

.collapsible-section {
    margin-top: 15px;
    /* Eliminamos el borde en el contenedor */
}

.collapsible-section h4 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 25px;
    font-weight: 600;
    border-bottom: 1px solid #ddd; /* Borde más delgado debajo del título */
}

.collapsible-section h4 i {
    font-size: 18px; /* Tamaño base del icono */
    transition: transform 0.3s ease, color 0.3s ease;
}

.collapsible-section h4 i:hover {
    transform: scale(1.2); /* Icono más grande al hacer hover */
    color: #e3b645; /* Color al hacer hover */
}

.collapsible-section ul {
    list-style: none;
    padding: 0;
}

.collapsible-section ul li {
    font-size: 14px; /* Tamaño del texto dentro de los desplegables */
    margin-bottom: 5px;
}

.ingredients-list,
.steps-list {
    margin: 0;
    padding-left: 20px;
}

.steps-list {
    font-size: 14px; /* Establecer el tamaño de texto a 12px */
}

.steps-list li {
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}

.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.icon-button {
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: #fff;
    border: 1px solid transparent;
}

.icon-button.delete {
    background-color: transparent;
    border: 2px solid #ccc;
    color: #ccc;
    font-size: 25px;
}

.icon-button.delete:hover {
    background-color: #ccc;
    border: 2px solid #ccc;
    color: white;
}

.icon-button.favorite {
    background-color: #fcca36;
    color: white;
    font-size: 25px;
}

.icon-button.favorite:hover {
    background-color: #e3b645;
}

.icon-button.default {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

.icon-button.default:hover {
    background-color: #e0e0e0;
    border-color: #ccc;
}

.icon-button i {
    font-size: 22px;
}
