.favorites-container {
    display: flex;
    flex-direction: column; /* Cada receta en una nueva línea */
    gap: 20px;
}

.favorite-item {
    display: flex; /* Organiza los elementos en línea */
    align-items: flex-start; /* Alinea al inicio verticalmente */
    justify-content: space-between; /* Espacio entre los elementos */
    border-bottom: 1px solid #ddd; /* Línea inferior */
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    position: relative; /* Para posicionar elementos hijos dentro del contenedor */
    cursor: pointer; /* Cursor de mano para indicar que es interactivo */
    transition: background-color 0.3s ease; /* Efecto de transición para el fondo */
}

.favorite-item:hover {
    background-color: #f1f1f1; /* Fondo gris claro al pasar el mouse */
}

.favorite-image {
    width: 250px;
    height: 250px;
    object-fit: cover; /* Ajusta la imagen sin distorsión */
    border-radius: 5px;
}

.favorite-info {
    flex-grow: 1; /* El título, tiempo, descripción ocupan el espacio disponible */
    margin-left: 20px; /* Espacio entre la imagen y el contenido */
    margin-right: 20px; /* Margen a la derecha para separar de los botones */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre título, descripción e ingredientes */
    transition: background-color 0.3s ease; /* Efecto de transición para el fondo */
}

.favorite-info h3 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 10px;
}

.favorite-info h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
}

.favorite-info p {
    margin: 0;
    font-size: 14px;
    color: black;
    text-align: justify;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Detalles expandido */
.favorite-info.expanded {
    background-color: #f9f9f9; /* Fondo gris claro cuando está expandido */
}

.ingredients-list {
    margin: 10px 0 0 0; /* Margen superior */
    padding: 0;
    list-style-type: none; /* Sin viñetas */
    font-size: 14px;
    color: black;
    max-width: 100%; /* Ajusta al ancho de la descripción */
    text-align: justify;
    line-height: 1.6;
}

/* Espaciado adicional entre descripción e ingredientes */
.favorite-info .ingredients-list {
    margin-top: 10px; /* Separación entre descripción e ingredientes */
}

.favorite-buttons {
    display: flex; /* Los botones se colocan en una fila */
    gap: 10px; /* Espacio entre botones */
    align-items: center; /* Alineación vertical */
}

.favorite-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

/* Botón de eliminar */
.favorite-buttons button:first-child {
    background-color: transparent;
    border: 2px solid #ccc;
    color: #ccc;
}

.favorite-buttons button:first-child:hover {
    background-color: #ccc;
    color: white;
}

/* Botón de agregar */
.favorite-buttons button:last-child {
    background-color: #FCCA36;
    color: white;
    font-size: 25px;
}

.favorite-buttons button:last-child:hover {
    background-color: #e3b645;
}
